$('#reader #feed-container').append('<%= escape_javascript render "feed_entries", :entries => @entries, :feed_users => @feeds %>');
<% if @entries.next_page %>
  $('#reader #feed-container').append('<span data-next-page="<%= @entries.next_page %>" data-next-page-url="<%= reader_all_paging_path() %>" class="next_page">&nbsp;</span>');
<% else %>
  $('#reader #feed-container').append('<div class="no_items">There are no more items</div>');
<% end %>
attachAccordion();