<%= render "feed_header", :feed => @feed %>
<div id="feed-container">
  <%= render "feed_entries", :entries => @entries, :feed_users => @feed_users %>
  <span data-next-page="2" data-next-page-url="<%= feed_paging_path(CGI.escape(@feed.url)) %>" class="next_page">&nbsp;</span>
</div>