<div class="header">
  <h2>
    <span>All</span>
  </h2>

  <span data-unread-url="<%= reader_all_unread_path()%>" class="unread_url"></span>
  <span data-read-url="<%= reader_all_path()%>" class="read_url"></span>
  <span data-mark-all-url="<%= mark_all_path()%>" class="mark_all_url"></span>
  <%= render "header_buttons" %>
</div>