<%= render "all_favorite_header" %>
<div id="feed-container">
  <%= render "feed_entries", :entries => @entries, :feed_users => @feeds %>
  <% if @entries.next_page %>
    <span data-next-page="2" data-next-page-url="<%= reader_all_favorite_paging_path() %>" class="next_page">&nbsp;</span>
  <% else %>
    <div class="no_items">There are no more items</div>
  <% end %>
</div>

<script type="test/javascript">
  attachAccordion();
</script>