<%= content_tag(:span, image_tag(feed.favicon, :width => 16, :height => 16, :class => "favicon"), :class => "pull-left") unless feed.favicon.nil? %>
<%= content_tag(:span, image_tag("feed.png", :width => 16, :height => 16, :class => "favicon"), :class => "pull-left") if feed.favicon.nil? %>
<%= content_tag(:span, @unread[feed.id], :class=> "badge pull-right spaced-badge") %>
<div class="feed-name"><%= link_to feed.feed_users.first.title, reader_feed_path(CGI.escape(feed.url)), :remote => true %></div>